body {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background: #87CFB4;
}

.register-title {
    height: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 20px;
    color: rgb(255, 255, 255);

}

.register-form {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    gap: 15px;
    padding: 35px 0px;
  
    background: #409A78;
    border-radius: 25px;
  
    /* Inside auto layout */
    flex: none;
    flex-grow: 0;
    align-items: center;
}

/* username-label */
.username-label {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
    gap: 10px;
  
    width: 100%;
    height: 39px;
  
    /* Inside auto layout */
    flex: none;
    flex-grow: 0;
  }

  .username-password {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 11px;
  
    
    width: 85%;
    left: calc(50% - 468px/2);
    top: 18px;
  }
  
  .username-label::before {
    content: "Username";
    width: 100%;
    justify-content: flex-start;
    height: 39px;
  
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    /* identical to box height */
  
    color: #FFFFFF;
  
    /* Inside auto layout */
    flex: none;
    flex-grow: 0;
  }
  
  /* username-input-box */
  .username-input-box, .password-input-box{
    box-sizing: border-box;
    padding: 0px 20px;
    width: 100%;
    height: 50px;
    font-size: 32px;
  
    background: #FFFFFF;
    border-radius: 50px;
  
    /* Inside auto layout */
    flex: none;
    flex-grow: 0;
  }
  
  .username-input-box::placeholder, .password-input-box::placeholder {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 39px;
    /* identical to box height */
  
    color: #847F7F;
  }
  
  /* password-label */
  .password-label {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
  
    width: 100%;
    height: 39px;
  
    /* Inside auto layout */
    flex: none;
    flex-grow: 0;
  }
  
  .password-label::before {
    content: "Password";
    width: 100%;
    justify-content: flex-start;
    height: 39px;
  
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    /* identical to box height */
  
    color: #FFFFFF;
  
    /* Inside auto layout */
    flex: none;
    flex-grow: 0;
  }

label {
    display: block;
    margin: 5px;
}

.register-button {
    width: 85%;
    height: 64px;

    background: #AFD7C8;
    border-radius: 25px;
}
  
.register-button::before {
    content: "Register";
    width: 85%;
    height: 64px;
    left: calc(50% - 74px/2);
    top: calc(50% - 34px/2);

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    /* identical to box height */

    color: #FFFFFF;
}

p {
    text-align: center;
}