<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- NEW: Add for consistent responsiveness -->
    <link rel="stylesheet" th:href="@{/css/loginstyle.css}" href="/Users/danieli/Documents/Projects/aviaryservice/src/main/resources/static/css/loginstyle.css">
    <script src="https://kit.fontawesome.com/647fe92b87.js" crossorigin="anonymous"></script>
    <script th:src="@{/js/signin.js}"></script>
    <title>Login</title>
</head>
<body> 
    <h1 class="login-title">Login</h1>
    <form class="login-form" method="post" th:action="@{/login}">
        <div class="username-password">
            <label class="username-label"></label>
            <input id="username" class="username-input-box" type="text" name="username" placeholder="Username" autocomplete="username" required> <!-- Updated placeholder for consistency -->
            <label class="password-label"></label>
            <div class ="password-eyeball-container">
                <input id="password" class="password-input-box" type="password" name="password" placeholder="Password" autocomplete="current-password" required>
                <span class="toggle-password" style="cursor: pointer; font-size: 1.3rem;">
                    <i class="fa-solid fa-eye-slash" id="eye-icon"></i>
                </span>
            </div>
            <div class="additional-buttons">
                <div class="checkbox-and-text">  
                    <input type="checkbox" name="remember"> <!-- FIXED: Changed to proper checkbox input -->
                    <p>Remember me</p>
                </div>
                <a>Forgot password?</a>
            </div>
            <div th:if="${param.error}" style="color: red;">Incorrect username or password</div>
        </div>
        <button class="login-button" type="submit"></button>
        <button class="google-signin-btn" type="submit"> <!-- Note: If this is for actual Google auth, use a separate action or JS; currently it's same as regular submit -->
            <div class="google-logo-and-text">
                <div class="signin-google-text"></div>
                <div class="google-logo"><i class="fa-brands fa-google fa-2xl"></i></div>
            </div>
        </button>
        <p>Need an account? <a href="/register">Register here</a></p>
    </form>
</body>
</html>