<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title> <!-- FIXED: Removed duplicate -->
    <link rel="stylesheet" th:href="@{/css/registerstyle.css}" href="/Users/danieli/Documents/Projects/aviaryservice/src/main/resources/static/css/registerstyle.css">
    <script src="https://kit.fontawesome.com/647fe92b87.js" crossorigin="anonymous"></script>
</head>
<body>
    <h1 class="register-title">Register</h1>
    <form class="register-form" method="post" th:action="@{/register}">
        <div class="username-password">
            <label class="username-label"></label>
            <input class="username-input-box" type="text" name="username" placeholder="Username" required>
            <label class="password-label"></label>
            <input class="password-input-box" type="password" name="password" placeholder="Password" required> <!-- FIXED: Removed <br> -->
        </div>
        <div th:if="${error}" th:text="${error}" style="color: red;"></div>
        <button class="register-button" type="submit"></button>
        <p>Already have an account? <a href="/login">Login here</a></p>
    </form>
</body>
</html>