<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title> <!-- FIXED: Removed duplicate -->
    <link rel="stylesheet" th:href="@{/css/registerstyle.css}" href="/Users/danieli/Documents/Projects/aviaryservice/src/main/resources/static/css/registerstyle.css">
    <script th:src="@{/js/signin.js}"></script>
    <script src="https://kit.fontawesome.com/647fe92b87.js" crossorigin="anonymous"></script>
</head>
<body>
    <h1 class="register-title">Register</h1>
    <form class="register-form" method="post" th:action="@{/register}">
        <div class="username-password">
            <label class="username-label"></label>
            <input id = "username" class="username-input-box" type="text" name="username" placeholder="Username" autocomplete="username" required>
            <label class="password-label"></label>
            <div class ="password-eyeball-container">
                <input id="password" class="password-input-box" type="password" name="password" placeholder="Password" autocomplete="current-password" required>
                <span class="toggle-password" style="cursor: pointer; font-size: 1.3rem;">
                    <i class="fa-solid fa-eye-slash" id="eye-icon"></i>
                </span>
            </div>
        </div>
        <div th:if="${error}" th:text="${error}" style="color: red;"></div>
        <button class="register-button" type="submit"></button>
        <p>Already have an account? <a href="/login">Login here</a></p>
    </form>
</body>
</html>